import { Config } from '@lib/types'

const config: Partial<Config> = {
  telegram: {
    botUsername: '',
    whitelistedUsers: [],
    maxSessionMessages: 100,
  },
  ia: {
    defaultMaxTokens: 256000,
    privateChatSystemPrompt:
      'You are a Telegram bot assistant. Keep responses short and concise when possible.',
    groupChatSystemPrompt:
      'You are an assistant in a Telegram group of friends. Give short and concise responses only when necessary. Every message is prepended with the name of the user.',
  },
}

export default config
