import { Config } from '@lib/types'

const config: Partial<Config> = {
  defaultMaxTokens: 256000,
  privateChatSystemPrompt: '',
  groupChatSystemPrompt: '',
  whitelistedUsers: ['onyThisUserCanAccess'],
}

export default config
